*.pkl
*.png
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.log
*.log.gz
*.log.gz.part
*.log.gz.part.1
*.log.gz.part.2
*.log.gz.part.3
*.log.gz.part.4
*.keras
*.keras.index
*.keras.data-00000-of-00001
*.keras.data-00001-of-00001
*.keras.data-00002-of-00001
*.keras.data-00003-of-00001
*.keras.data-00004-of-00001
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
